<div class="category-navbar">
  <a href="/events" class= 'active'>All</a>
  <% Category.all.each do |category| %>
    <a href="/events?utf8=✓&search=&category=<%=category.id %>"><%= category.name %></a>
    <!-- <p><%= category.name %></p> -->
  <% end %>
</div>

