.event-card{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 15px;
  box-shadow: 0 0 5px #EAEAEA;
  border-radius: 3px;
  .image-card{
    img{
      border-radius: 3px 3px 0 0;
      max-height: 135px;
    }
  }
  .card-bottom{
    background-color: white;
    position: relative;
    min-height: 130px;
    p.date-time{
      color: #1954FF;
      margin-top: 25px;
      padding-left: 10px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 15px;
    }
    h4.title{
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 23px;
      padding-left: 10px;
    }
  }
}
