.category-navbar{
  overflow: auto;
  white-space: nowrap;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
  padding-bottom: 9px;
  p{
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin: 0 5px;
    &:first-child{
      margin-left: 20px;
    }
    &:hover{
      border-color: #585454;
    }
  }
  .active{
    border-color: #1954FF;
    color: #1954FF;
    background-color: #EAEFFF;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.category-navbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.category-navbar{
    -ms-overflow-style: none;
}
